.chat-part .video-chat {
	display: flex;
	flex-direction: column;
}
.chat-part .video-chat .video-box {
	position: relative;
}
.chat-part .video-chat .video-box .group-call {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 25px 10px;
}
.chat-part .video-chat .video-box .group-call .member-images .box {
	width: 106px;
	height: 115px;
	margin-bottom: 12px;
}
.chat-part .video-chat .video-box .group-call .member-images .box img {
	border: 2px solid white;
	border-radius: 26px;
	width: 100%;
	height: 106px;
	max-height: 106px;
	object-fit: cover;
	object-position: center;
}
.chat-part .video-chat .main-image {
	border: 1px solid #2d3d4f;
	border-radius: 16px;
	background-color: #13233a;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 780px;
	height: 780px;
	max-height: 780px;
}
.chat-part .video-chat .main-image img {
	width: 100%;
	border-radius: 20px;
	height: 780px;
	max-height: 780px;
}

.chat-part {
	margin-bottom: 80px;
	margin-left: 1rem;
}
.chat-part .chat-boat-part {
	border: 1px solid #2d3d4f;
	border-radius: 30px;
	padding: 30px 0px 20px;
	background-color: #0e2946;
	display: flex;
	flex-direction: column;
}
.chat-part .chat-boat-part .chat-header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.chat-part .chat-boat-part .chat-header .close-btn .btn {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.chat-part .chat-boat-part .chat-header .close-btn .btn:hover {
	opacity: 0.7;
}
.chat-part .chat-boat-part .chat-header h6 {
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Roboto';
	margin: 0;
}
.chat-part .chat-boat-part .chat-msg {
	margin-top: 25px;
	max-height: 500px;
	overflow-x: hidden;
	overflow: auto;
	scroll-behavior: smooth;
	padding: 10px 20px;
}
.chat-part .chat-boat-part .chat-msg .messages {
	margin-bottom: 16px;
}
.chat-part .chat-boat-part .chat-msg .messages .msg {
	background-color: #ffffff;
	color: black;
	border: 1px solid white;
	border-radius: 6px;
	padding: 2px 6px 7px;
	position: relative;
}
.chat-part .chat-boat-part .chat-msg .msg::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid white;
}
.chat-part .chat-boat-part .chat-msg .msg.receiver::before {
	left: -14px;
	top: 2px;
}
.chat-part .chat-boat-part .chat-msg .msg.sender::before {
	right: -14px;
	transform: rotate(180deg);
	top: 2px;
}
.chat-part .chat-boat-part .chat-msg .messages b {
	font-size: 14px;
}
.chat-part .chat-boat-part .chat-msg .messages .msg-content {
	font-size: 12px;
	margin: 2px 4px;
}
.chat-part .chat-boat-part .chat-msg .messages .time {
	font-size: 12px;
	line-height: 18px;
	color: #747474;
	font-weight: 400;
	font-family: 'Roboto';
	margin: 8px;
}
.chat-part .chat-boat-part .chat-footer-btn {
	padding: 0 20px;
	position: relative;
}
.chat-part .chat-boat-part .chat-footer-btn .custom-input-field {
	border: 1px solid #2d3d4f;
	background-color: #272b41;
	font-size: 15px;
	line-height: 18px;
	color: #7e7fb5;
	font-weight: 400;
	font-family: 'Roboto';
	width: 96%;
	padding: 18px 12px;
	border-radius: 35px;
	overflow: hidden;
}
.btn.btn-primary {
	background-color: #134594;
}

.send-button {
	position: absolute;
	top: 8px;
	right: 40px;
}
.send-button .btn {
	display: flex;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	border: 0;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #126cfe;
}

.chat-msg::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
