.chat-boat-part {
	border: 1px solid #2d3d4f;
	border-radius: 30px;
	padding: 30px 0px 20px;
	background-color: #0e2946;
	display: flex;
	flex-direction: column;
	width: 38%;
}
 .chat-boat-part .chat-header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
 .chat-boat-part .chat-header .close-btn .btn {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
 .chat-boat-part .chat-header .close-btn .btn:hover {
	opacity: 0.7;
}
 .chat-boat-part .chat-header h6 {
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Roboto';
	margin: 0;
}
 .chat-boat-part .chat-msg {
	margin-top: 25px;
	max-height: 500px;
	overflow-x: hidden;
	overflow: auto;
	scroll-behavior: smooth;
	padding: 10px 20px;
}
 .chat-boat-part .chat-msg .messages {
	margin-bottom: 16px;
}
 .chat-boat-part .chat-msg .messages .msg {
	background-color: #ffffff;
	color: black;
	border: 1px solid white;
	border-radius: 6px;
	padding: 2px 6px 7px;
	position: relative;
	margin-bottom: 5px;
}
.chat-boat-part .chat-msg .messages .msg.sender{
	background-color: #dffdc5;
	border: 1px solid #dffdc5;
}
 .chat-boat-part .chat-msg .msg::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	
}
 .chat-boat-part .chat-msg .msg.receiver::before {
	left: -14px;
	top: 2px;
	border-right: 14px solid white;
}
 .chat-boat-part .chat-msg .msg.sender::before {
	right: -14px;
	transform: rotate(180deg);
	top: 2px;
	border-right: 14px solid #dffdc5;
}
 .chat-boat-part .chat-msg .messages b {
	font-size: 14px;
}
 .chat-boat-part .chat-msg .messages .msg-content {
	font-size: 12px;
	margin: 2px 4px;
}
 .chat-boat-part .chat-msg .messages .time {
	font-size: 12px;
	line-height: 18px;
	color: #747474;
	font-weight: 400;
	font-family: 'Roboto';
	margin: 8px;
}
 .chat-boat-part .chat-footer-btn {
	margin-top: auto;
	padding: 0 20px;
	position: relative;
}
 .chat-boat-part .chat-footer-btn .custom-input-field {
	border: 1px solid #2d3d4f;
	background-color: #272b41;
	font-size: 15px;
	line-height: 18px;
	color: #7e7fb5;
	font-weight: 400;
	font-family: 'Roboto';
	width: 100%;
	padding: 18px 12px;
	border-radius: 35px;
	overflow: hidden;
	outline: 0;
}
.chat-boat-part .chat-footer-btn .custom-input-field:focus{
	outline: 0;
}
.btn.btn-primary {
	background-color: #134594;
}

.send-button {
	position: absolute;
	top: 8px;
	right: 40px;
}
.send-button .btn {
	display: flex;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	border: 0;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #126cfe;
}

.chat-msg::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
@media screen and (max-width: 1440px) {
	.send-button {
		position: absolute;
		top: 8px;
		right: 40px;
	}
}
@media screen and (max-width: 991px) {
	 .chat-boat-part {
		width: 100%;
		margin-top: 1rem;
		height: 600px;
	}
}
@media screen and (max-width: 480px){
	.chat-boat-part {
		height: 500px;
	}
}