.video-chat{
	width: 60%;
	display: flex;
	flex-direction: column;
  }
 .video-chat .video-box{
	position: relative;
  }
  .video-chat .video-box .group-call{
	position: absolute;
	top: 10px;
	right:0;
	padding: 15px 25px 10px;
  }
 .video-chat .video-box .group-call .member-images .box{
	width: 106px;
	height: 110px;
	margin-bottom: 12px;
  }
  .video-chat .video-box .group-call .member-images .box video{
	border-radius: 10px;
    border: 2px solid white;
  }
 .video-chat .video-box .group-call .member-images .box img{
	border: 2px solid white;
	border-radius: 26px;
	width: 100%;
	height: 106px;
	max-height: 106px;
	object-fit: cover;
	object-position: center;
  }
  .video-chat .main-image{
	border: 1px solid #2d3d4f;
	border-radius: 16px;
	background-color: #13233a;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 780px;
	height: 780px;
	max-height: 780px
  }
 .video-chat .main-image img{
	width: 100%;
	border-radius: 20px;
	height: 780px;
	max-height: 780px;
  }
  .video-control-button{
	margin-top: 2%;
	margin-top: auto;
  }
  .video-control-button .button-block{
	border: 1px solid #2d3d4f;
	border-radius: 16px;
	display: flex;
	justify-content: space-around;
	padding: 1% 8%;
	background-color: #13233a;  
  }
  .video-control-button .button-block .btn{
	display: flex;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	border: 0;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  }
  .btn:hover{
	opacity: 0.7;
  }
  .video-control-button .button-block .btn.btn-primary{
	background-color: #134594;
  }
  .video-control-button .button-block .btn.btn-danger{
	background-color: #80131f;
  }

  @media screen and (max-width: 1440px) {
	.video-chat .main-image {
		min-height: 568px;
		max-height: 568px;
	}
	.video-chat .main-image img {
		height: 568px;
		max-height: 568px;
	}
}
@media screen and (max-width: 991px) {
	.video-chat {
		width: 100%;
	}
	.video-control-button {
		margin-top: 2%;
	}
}
@media screen and (max-width: 480px) {
	   .video-chat .main-image {
		min-height: 380px;
    	max-height: 380px;
	}
	   .video-chat .video-box .group-call {
		padding: 15px 15px 10px;
	}
	   .video-chat .main-image img {
		height: auto;
		max-height: 100%;
	}
	   .video-chat .video-box .group-call .member-images .box {
		height: 75px;
		width: 75px;
		margin-bottom: 8px;
	}
	   .video-chat .video-box .group-call .member-images .box img {
		height: 50px;
		max-height: 50px;
		border-radius: 14px;
	}
	.video-control-button .button-block .btn {
		width: 50px;
		height: 50px;
	}
	.video-control-button .button-block .btn img {
		width: 22px;
	}
	
}